@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'font';
    /* Nombre que usarás en tu CSS */
    src: url('/fonts/font.ttf') format('truetype');
    /* Asegúrate de que la ruta sea correcta */
}

@font-face {
    font-family: 'save';
    /* Nombre que usarás en tu CSS */
    src: url('/fonts/save.ttf') format('truetype');
    /* Asegúrate de que la ruta sea correcta */
}

#zonaBatalla {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 125vh;
    /* background-color: black; */
    color: white;
    z-index: 10000;
    /* Asegura que esté por encima de todo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', monospace;
}



#battleCanvas {
    border: 4px solid white;
    background-color: #111;
    margin-top: 30px;
}

#fondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    z-index: 9998;
    transition: opacity 7s ease;
}

#preBoss {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: 9999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', monospace;
}

#preBoss2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: 9999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', monospace;
}

#jefeZorua,
#acciones {
    width: 925px;
}


#jefeZorua {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    /* width: 840px; */
    height: 140px;
    border: 5px solid #fff;
    margin-top: -70px;
    background-color: #000;
    z-index: 10;
    color: #fff;
    font-family: "font", sans-serif;
    font-size: 17pt;
    /* padding-left: 20px;
    padding-top: 20px; */
}

#imgZorua {
    width: 150px;
    /* Ajusta el tamaño de Zorua */
    position: absolute;
    /* Permitir el movimiento */
    top: -160px;
    /* Altura fija */
    left: 50%;
    /* Centrado horizontal */
    transform: translateX(-50%);
    /* Para centrarlo bien */
}

#zonaBatalla {
    text-align: center;
    margin-top: 20px;
}



#infoJugador {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: 'Press Start 2P', monospace;
    font-size: 1.2em;
    color: white;
    margin-top: 10px;
}

.lv {
    font-weight: bold;
}

.valor {
    margin-left: 2px;
}

.hpLabel {
    font-weight: bold;
    font-size: 0.9em;
}

.barraHp {
    width: 16px;
    height: 16px;
    background-color: yellow;
    margin: 0 4px;
    border: 1px solid white;
    box-sizing: border-box;
}

.vidaTotal {
    font-weight: bold;
}




#acciones {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 70px;
    margin-top: 20px;
}

.btnU {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    background-color: #000;
    color: #ff872f;
    border: none;
    font-family: 'save', sans-serif;
    font-size: 52px;
    cursor: pointer;
    letter-spacing: -6px;
}


.btnU span {
    pointer-events: none;
    /* para que el texto no interfiera con los clics */
}

#mensajeZorua {
    padding: 10px;
    text-align: left;
}

.containerAtaque {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff872f;
    background-color: #000;
    /* padding: 0; */
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
}

.containerAtaque:hover {
    border: 2px solid #fffc2f;
    color: #fffc2f;
}

.containerAtaque:hover .btnU {
    /* border: 2px solid #fffc2f; */
    color: #fffc2f;
}

.ataque-fight:hover .imgAtaque,
.ataque-act:hover .imgAtaque,
.ataque-item:hover .imgAtaque,
.ataque-hola:hover .imgAtaque {
    content: url("/img/UndertaleEvent/Corazon.png");
}



.imgAtaque {
    height: 25px;
    width: 25px;
    pointer-events: none;
}




/* Diseño de flechitas o otra seccion */


.containerAtaque.seleccionado {
    filter: brightness(1.2);
    border: 2px solid #fffc2f;
    color: #fffc2f;
}

.containerAtaque.seleccionado .btnU {
    color: #fffc2f;
}

.containerAtaque.seleccionado .imgAtaque {
    filter: brightness(1.5);
}


/* fondo trasero */

#barraWena {
    /* display: none; */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    bottom: 0;
    z-index: 9999;
    animation: scale-down-1 5s infinite;
}

#barraWena .bar{
    height: 500px;
}

.layer-1.bar {
    background: rgba(17, 41, 24, 0.212);

}
.layer-2.bar {
    background: rgba(17, 41, 24, 0.541);

}
.layer-3.bar {
    background: rgb(17, 41, 24);

}
.layer-4.bar {
    background: rgb(25, 59, 35);
}
.layer-5.bar {
    background: rgb(35, 82, 49);
}
.layer-6.bar {
    background: rgb(53, 124, 74);
}
.layer-7.bar {
    background: rgb(74, 173, 103);
}
.layer-8.bar {
    background: rgb(90, 211, 126);

}
.layer-9.bar {
    background: rgb(109, 255, 153);
}



@keyframes scale-down-1 {
    0% {
        height: 617px;
    }
    50% {
        height: 300px;
    }
    
    100% {
        height: 617px;
    }
}


/* Perdonacion */
.desaparecer-suave {
    opacity: 0 !important;
    transition: opacity 2s ease;
    pointer-events: none;
}
